<div id="<%= dom_id article %>">
<li id="<%= "#{dom_id(article)}_article" %>" class="py-3">
<div class="max-w-2xl mb-3 px-8 py-4 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800" style="cursor: auto;">
  <div class="flex items-center justify-between">
    <span class="text-sm font-light text-gray-600 dark:text-gray-400"> <%= l article.created_at.to_date, format: :short %></span> 
    <div class="flex flex-row ml-20">
   
         <a class="px-3 py-1 text-sm font-bold text-gray-100 transition-colors duration-200 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500"><%= article.status %></a>
  </div>
  
   
  </div> 
  <div class="mt-2">
 <%= link_to article.title, article, article: article, class: "text-2xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline"%>
  </div> 
  <div class="flex items-center justify-between mt-4">
    <div class="flex items-center">
      <img src="https://stackdiary.com/140x100.png" alt="Author Photo" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block"> 
      <a class="font-bold text-gray-700 cursor-pointer dark:text-gray-200"><%= article.user_email %></a>
    </div>
  </div>
</div>
</li>
</div>
