
<div class="w-full">
<%= turbo_stream_from "public_joins" %>
    <% articles_channel = current_user ? "private_articles" : "public_articles" %>
    <%= turbo_stream_from articles_channel %>
    <%= turbo_stream_from [@user_gid, 'private_joins'] %>
    <%= content_tag(:div, id: articles_channel) do %>
      <% @articles.each do |article| %>
       <% unless article.archived? %>
      <% if current_user %>
        <%= render  "articles/card_view",article: article  %>
      <% else %>
        <%= render "articles/card_view", article: article %>
      <% end %>
      <% end %>
      <% end %>
    <% end %>
</div>